{% extends "marketing/base_storefront.html" %}

{% set _c = storefront_homepage_copy %}

{% set _d = website_settings.design if website_settings and website_settings.design else {} %}

{% block title %}{{ _c.page_title }}{% endblock %}

{% block meta_description %}{{ _c.meta_description }}{% endblock %}

{% block extra_head %}
  {% include "partials/storefront_local_business_jsonld.html" %}
{% endblock %}

{% block content %}

  {% with website_design=_d, storefront_include_chrome=true %}

    {% include "partials/website_ecommerce_storefront.html" %}

  {% endwith %}

{% endblock %}

