{% extends "marketing/base_marketing.html" %}
{% block title %}Shop{% endblock %}
{% set _d = website_settings.design if website_settings and website_settings.design else {} %}
{% block meta_description %}{{ _d.meta_description or 'Shop commonly sold products from our catalogue.' }}{% endblock %}
{% block marketing_header %}{% endblock %}
{% block marketing_footer %}{% endblock %}
{% block main_class %} mk-main--flush{% endblock %}
{% block content %}
  {% with website_design=_d, storefront_include_chrome=true %}
    {% include "partials/website_ecommerce_storefront.html" %}
  {% endwith %}
{% endblock %}
